
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
  }

body {
    background-color: #f0f8ff;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 3%;
    z-index: 10;
    backdrop-filter: blur(5px);
    padding: 20px 18px;
    width: 100%;
    max-width: 90%;
    margin: 40px 20px;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
    max-width: 500px;
    gap: 17rem;
  }
  
  .logo {
    height: 50px;
    width: 50px;
  }
  
  .links {
    display: flex;
    gap: 20px;
  }
  
  .link {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
  }
  
  .link:hover,
  .link.active {
    color: #ff4786;
  }
  
  .icon {
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    color: white;
  }
  
  .icon-btn {
    border: none;
    background-color: transparent;
  }
  
  
  .fa-sun-o {
    display: none;
  }
  
  /* Default styles for desktop */
  #mobile-menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  #menu-toggle {
    display: none;
  }

  
  .banner {
    height: 54vh;
    padding: 0;
  }
  
  .banner-inner {
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .banner-inner img {
    display: block;
    height: 64vh;
    object-fit: cover;
    width: 100%;  
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.354);
    height: 100%;
    width: 100%;
  }
  
  .overlayText {
    position: absolute;
    top: 60%;
    left: 40%;
    text-align: center;
  }
  
  .overlayText h2 {
    font-size: 3rem;
    font-family: "Great Vibes", cursive;
    background: linear-gradient(90deg, white, white, purple, #feb47b, #f0f8ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  .overlayTextChild {
    font-size: 0.6rem;
  }
  
  .fa-star {
    font-size: 0.8rem;
    margin-left: -4px;
  }
  
  .movie-btn-1,
  .movie-btn, .submit-btn {
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
  }
  
  .movie-btn-1, .submit-btn {
    background-color: purple;
    color: white;
  }
  
  .btnArrow {
    color: black;
    font-weight: 700;
  }
  
  .movie-btn {
    margin-top: 1.2rem;
    background-color: antiquewhite;
    color: purple;
  }
  
  .fa-play {
    font-size: 0.8rem;
    color: white;
  }
  
  .content {
    /* width: 80%; */
    /* max-width: 800px; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 20px 5%;
    margin: 5rem 0;
    /* text-align: center; */
  }
  
  .content-section{
    min-width: 500px;
    max-width: 600px;
    /* flex: 1; */
  }

  .content-section h2 {
    font-family: "Great Vibes", cursive;
    color: purple;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .content ol {
    text-align: left;
    display: inline-block;
  }

  .content ol li{
    color: purple;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  }

  .download-section {
    max-width: 600px;
    /* text-align: center; */
    /* margin: 20px 0; */
  }

  .download-section h2{
    font-size: 3rem;
    text-align: center;
    font-family: "Great Vibes", cursive;
    background: linear-gradient(90deg, purple, white, purple, #feb47b, #f0f8ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  .download-section .sub-title{
    text-align: center;
    color: purple;
    margin-bottom: 10px;
    font-style: italic;
  }

  .download-section .book{
    color: #333;
    margin-top: 2rem;
    line-height: 1.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .download-section .btn-info{
    color: purple;
    margin-bottom: 2rem;
  }

  .download-btn {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    background-color: purple;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  

  .download-btn:hover {
    background-color: #5a2d82;
  }
  

  .footer {
    background-color: #030a1b;
    color: white;
    padding: 40px 20px;
    text-align: left;
    border-top: 1px solid #444;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-section {
    max-width: 250px;
  }
  
  
  .footer-section h2,
  h3 {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    font-weight: normal;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .subscribe form {
    display: flex;
    flex-direction: column;
  }
  
  .subscribe input {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 18px;
    outline: none;
  }
  
  .subscribe button {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .subscribe button:hover {
    background-color: #e6b800;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
  }
  
  .footer-bottom a {
    color: #ffcc00;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }