* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: #f0f8ff;
  /* background-color: #030a1b; */
}



nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 3%;
  z-index: 10;
  backdrop-filter: blur(5px);
  padding: 20px 18px;
  width: 100%;
  max-width: 90%;
  margin: 40px 20px;
}

.nav-items {
  display: flex;
  align-items: center;
  max-width: 500px;
  gap: 17rem;
}

.logo {
  height: 50px;
  width: 50px;
}

.links {
  display: flex;
  gap: 20px;
  white-space: nowrap;
}

.link {
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
}



.link:hover,
.link.active {
  color: #ff4786;
}

.icon {
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
}

.icon-btn {
  border: none;
  background-color: transparent;
}

.fa-user {
  color: white;
}

.fa-sun-o {
  display: none;
}

/* Default styles for desktop */
#mobile-menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#menu-toggle {
  display: none;
  /* Hide the menu toggle button on desktop */
}

.mySwiperOne {
  width: 100vw;
  height: 74vh;
  margin: 0;
  padding: 0;
}

.swpslideone {
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.354);
  height: 100%;
  width: 100%;
}

.overlayText {
  position: absolute;
  top: 60%;
  left: 40%;
  text-align: center;
}

.overlayText h2 {
  font-size: 3rem;
  font-family: "Great Vibes", cursive;
  background: linear-gradient(90deg, white, white, purple, #feb47b, #f0f8ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.overlayTextChild {
  font-size: 0.6rem;
}

.fa-star {
  font-size: 0.8rem;
  margin-left: -4px;
}

.movie-btn-1,
.movie-btn {
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

.movie-btn-1 {
  background-color: purple;
}

.btnArrow {
  color: black;
  font-weight: 700;
}

.movie-btn {
  margin-top: 1.2rem;
  background-color: antiquewhite;
  color: purple;
}

.fa-play {
  font-size: 0.8rem;
}

.swpslideone img {
  display: block;
  width: 100%;
}

.prayer-room-container {
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding: 0 5%;
}

.prayer-room-title {
  color: black;
  text-align: center;
  font-size: 2rem;
  font-family: cursive;
  background: linear-gradient(90deg, blue, white, purple, blue, #f0f8ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prayer-room {
  display: flex;
  /* align-items: start; */
  justify-content: space-between;
}

.video-section{
  flex: 1;
}
.plyr__video-embed {
  height: 500px;
  max-width: 900px;
  width: 100%; /* Ensure the container takes up the available width */
  border-radius: 1rem;
  margin-top: 50px;
  overflow: hidden; /* Ensure the iframe respects the border-radius */
}

.plyr__video-embed iframe {
  width: 100%; /* Make the iframe fill the container */
  height: 100%; /* Make the iframe fill the container */
  border: none; /* Remove default iframe border */
  /* max-width: 900px; */
}


.content-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-top: 60px;
}

.image-section img {
  width: 100%;
  border-radius: 10px;
}

.text-section {
  margin-top: 1rem;
}

.text-section h2 {
  text-align: center;
  font-family: cursive;
  color: purple;
  /* color: #034694; */
  margin-bottom: 1rem;
}

.scrollable-text {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;
}

.scrollable-text p {
  margin-bottom: 1rem;
}

.scrollable-text h3 {
  color: #034694;
  font-family: cursive;
  text-align: center;
  font-size: 1.05rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.103);
  padding: 6px 0;
  border-radius: 6px;
}

.prayer-points{
  color: purple;
}

.video-section h2 {
  margin-bottom: 2rem;
}

.prayer-title {
  margin: 6rem 4rem 5%;
  text-align: center;
}

.prayer-title h1 {
  color: purple;
}

.prayer-title p {
  font-size: 1.2em;
  color: purple;
}

.prayer-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;
}

.prayer-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: purple;
}

.prayer-form input[type="text"],
.prayer-form input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  padding: 8px 12px;
  background-color: purple;
  border-radius: 6rem;
  border: none;
}


button:hover {
  /* background-color: #45a049; */
}


/* Video Player */

/* .cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  padding: 5rem 5%;
  background-color: #030a1b;
}

.card-inner {
  position: relative;
}

.card-img {
  height: 200px;
  width: 350px;
  border-radius: 1rem;
}

.card-icon-div {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 60%;
  left: 32%;
}

.card-icon {
  background-color: black;
  padding: 8px 12px;
  border-radius: 50%;
}

.card-inner p {
  margin-bottom: 12px;
  margin-top: 16px;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
}


.card-inner a {
  background-color: purple;
}

.read-btn {
  text-decoration: none;
  background-color: purple;
}

.btnArrow {
  color: black;
  margin-left: 5px;
} */

/* Footer section */
.footer {
  background-color: #030a1b;
  /* background-color: #0a0a0a; */
  color: white;
  padding: 40px 20px;
  text-align: left;
  border-top: 1px solid #444;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-section {
  /* display: flex; */
  max-width: 250px;
}

/* .footer-section h2 {
    font-size: 24px;
    font-weight: bold;
} */


.footer-section h2,
h3 {
  font-family: "Great Vibes", cursive;
  font-size: 32px;
  font-weight: normal;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.subscribe form {
  display: flex;
  flex-direction: column;
}

.subscribe input {
  color: black;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 18px;
  outline: none;
}

.subscribe button {
  margin-top: 10px;
  padding: 10px;
  background-color: #ffcc00;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
}

.subscribe button:hover {
  background-color: #e6b800;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
}

.footer-bottom a {
  color: #ffcc00;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}