* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
  }

body {
    background-color: #f0f8ff;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 3%;
    z-index: 10;
    backdrop-filter: blur(5px);
    padding: 20px 18px;
    width: 100%;
    max-width: 90%;
    margin: 40px 20px;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
    max-width: 500px;
    gap: 17rem;
  }
  
  .logo {
    height: 50px;
    width: 50px;
  }
  
  .links {
    display: flex;
    gap: 20px;
  }
  
  .link {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
  }
  
  .link:hover,
  .link.active {
    color: #ff4786;
  }
  
  .icon {
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    color: white;
  }
  
  .icon-btn {
    border: none;
    background-color: transparent;
  }
  
  
  .fa-sun-o {
    display: none;
  }
  
  /* Default styles for desktop */
  #mobile-menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  #menu-toggle {
    display: none;
  }

  
  .banner {
    height: 54vh;
    padding: 0;
  }
  
  .banner-inner {
    background-position: top;
    background-size: cover;
    position: relative;
  }
  
  .banner-inner img {
    display: block;
    height: 64vh;
    object-fit: cover;
    width: 100%;  
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.354);
    height: 100%;
    width: 100%;
  }
  
  .overlayText {
    position: absolute;
    top: 60%;
    left: 30%;
    text-align: center;
  }
  
  .overlayText h2 {
    font-size: 3rem;
    font-family: "Great Vibes", cursive;
    background: linear-gradient(90deg, white, white, purple, #feb47b, #f0f8ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  .overlayText p{
    color: white;
    /* margin-left: -1rem; */

        /* text-align: center; */
  }
  /* .overlayTextChild {
    font-size: 0.6rem;
  } */
  
  .fa-star {
    font-size: 0.8rem;
    margin-left: -4px;
  }
  
  .movie-btn-1,
  .movie-btn, .submit-btn {
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
  }
  
  .movie-btn-1, .submit-btn {
    background-color: purple;
    color: white;
  }
  
  .btnArrow {
    color: black;
    font-weight: 700;
  }
  
  .movie-btn {
    margin-top: 1.2rem;
    background-color: antiquewhite;
    color: purple;
  }

  
  .fa-play {
    font-size: 0.8rem;
    color: white;
  }  


  .content {
    margin: 5rem;
    padding: 20px;
    text-align: center;
  }
  
  .content h2{
    font-size: 2rem;
    font-family: "Great Vibes", cursive;
    background: linear-gradient(90deg, white, white, purple, #feb47b, #f0f8ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
    margin: 2rem 0;
  }
  .testimony-section, .video-section, .submit-testimony {
    margin-bottom: 40px;
  }

  .testimony-section{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  }
  


  .testimony {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* width: 200px; */
  }


  .testimony-content h3, h4, p{
    color: black;
    margin-bottom: 10px;
  }


  .testimony-content h3{
    font-family: "Great Vibes", cursive;
    font-weight: bold;
    background: linear-gradient(90deg, white, white, purple, #feb47b, #f0f8ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .testimony img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: top;
  }
  
  .testimony h3, p {
    margin-top: 0;
    color: black;
  }
  
  .readmore-btn {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .readmore-btn:hover {
    background-color: #5a2d82;
  }

  .liveVideo-section{
    margin: 0 3% 0;
    display: flex;
    /* align-items: center; */
    /* gap: 4rem; */
    /* justify-content: space-between; */
  }
  
  .liveVideo-section h2{
    font-family:  cursive;
    font-weight: bold;
    background: linear-gradient(90deg, #e6b800, rgb(0, 187, 255), white, blue, purple, #e6b800);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }


  .video-section video {
    width: 80%;
    height: 350px;
    border-radius: 8px;
  }
  
  .submit-testimony form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .submit-testimony label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
    text-align: start;
  }
  
  .submit-testimony input[type="text"],
  .submit-testimony input[type="email"],
  .submit-testimony textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #5a2d82;
  }
  
  .footer {
    background-color: #030a1b;
    /* color: white; */
    padding: 40px 20px;
    text-align: left;
    border-top: 1px solid #444;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-container p{
    color: white;
  }
  .footer-section {
    max-width: 250px;
  }
  
  
  .footer-section h2,
  h3 {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    font-weight: normal;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .subscribe form {
    display: flex;
    flex-direction: column;
  }
  
  .subscribe input {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 18px;
    outline: none;
  }
  
  .subscribe button {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .subscribe button:hover {
    background-color: #e6b800;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
  }
  
  .footer-bottom a {
    color: #ffcc00;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }